@import "variables.css";

html,
body, 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

}

body{
  background-color: var(--green) ;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--aqua);
  margin: 1rem;
  width: 28%;
  height: 38rem;
  background-color: var(--fern);
  color: var(--cream);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.picture{
  width: 60%;
  height: 65%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  object-fit: cover;
}

h1, h2, p{
  text-align: center;
}

h1{
  font-size: var(--h1);
}

h2{
  font-size: var(--h2);
}

p{
  font-size: var(--p)
}