@import "variables.css";

html,
body, 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body{
  background-color: var(--green) ;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--blue);
  margin: 1rem;
  width: 21%;
  height: 20rem;
  background-color: var(--purple);
  color: var(--white);
  font-size: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


