:root{
    font-family: "Sofadi One", serif;
    font-weight: 400;
    font-style: normal;
    --background: #345830;
    --cardback: #4A7856;
    --text: #EAEFBD;
    --border: #A5F8D3;
    --buttons:#F8333C;
    --h1: 1.953rem;
    --h2: 1.563rem;
    --p: 1.25rem;
}

.light{
 --background: #A9D3FF;
 --cardback: #96C5F7;
 --border: #93ACB5;
 --text: #6C756B;
}

.dark{
 --background: #1D272B;
 --cardback: #262833;
 --border: #122f28;
 --text: #886F68;
}
