:root {
  font-family: "Sofadi One", serif;
  font-weight: 400;
  font-style: normal;
  --background: #345830;
  --cardback: #4a7856;
  --text: #eaefbd;
  --border: #a5f8d3;
  --buttons: #f8333c;
  --h1: 1.953rem;
  --h2: 1.563rem;
  --p: 1.25rem;
}

.light {
  --background: #a9d3ff;
  --cardback: #96c5f7;
  --border: #93acb5;
  --text: #6c756b;
}

.dark {
  --background: #1d272b;
  --cardback: #262833;
  --border: #122f28;
  --text: #886f68;
}
